body {
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Arial', sans-serif;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 40px;
    text-align: center;
    background: linear-gradient(145deg, #3c4048, #2b2f36);
    border-radius: 15px;
    box-shadow: 5px 5px 10px #1c1e22, -5px -5px 10px #40454d;
}

h1 {
    color: #61dafb;
    font-size: 2rem;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
    box-shadow: inset 5px 5px 10px #1c1e22, inset -5px -5px 10px #40454d;
}

input:focus {
    outline: none;
    border: 2px solid #61dafb;
}

button {
    width: 20%;
    height: 40px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 10px #1c1e22, -5px -5px 10px #40454d;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #21a1f1;
    color: #fff;
}

.text {
    text-align: left;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #3c4048;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #1c1e22, -5px -5px 10px #40454d;
}

li i {
    color: #ff6b6b;
    cursor: pointer;
    transition: color 0.3s ease;
}

li i:hover {
    color: #ff4b4b;
}
