*{
    margin: 0;
    padding: 0;
}

body{
    margin: 10px;
}



.Header{
    text-align: center;
    color:black;
    background: #EEE;
    padding: 20px 0;
    margin-bottom: 10px;
    
}
.Navigation-Menu{
    text-align: center;
    background-color: #EEEEEE;
    padding: 15px 0;
    margin-bottom: 10px;
}

.Content{
    
    text-align: center;
    display: inline-block;
    width: 12%;
    background-color: #EEEEEE;
    padding: 210px 0;
    margin-bottom: 10px;

}

.Main-Content{
display: inline-block;
    text-align: center;
    width: 74%;
    color:black;
    background-color:#EEEEEE;
    padding: 210px 0;
    margin: 0 7px;
    margin-bottom: 10px;
}



.Footer{
   
    color: black;
    background-color: #EEEEEE;
    text-align: center;
    padding: 20px 0;

}